@import '../variables.scss';


:host {

    .container-table {
      display: flex;
      align-content: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      height: 96vh;
      padding: 2vh 1vh 2vh 1vh;
      background: rgb(255, 255, 255);
      position: relative;

    }

    // @media only screen and (max-width: $md) {

    // }

  

}

