@import "../../../variables.scss";

// .day
// .date
// .amount
// .daily_interest
// .daily_rewards
// .rebuy
// .balance

$color-hyper: #7c3ec9;

.hide {
  display: none !important;
}

:host {
  // display: block;

  &.virtual-custom {
    cdk-virtual-scroll-viewport {
      // height: 96vh;
      height: 100%;
      width: 100%;

      table,
      mat-table {
        width: 100%;

        th {
          &.mat-header-cell {
            background: rgb(255, 255, 255);
            text-align: center;

            &:last-of-type {
              padding-right: 0px !important;
            }
            &:first-of-type {
              padding-left: 0px !important;
            }
          }
        }

        tr {

          position: relative;

          &.mat-header-row {
            height: 60px !important;
          }

          &.mat-row {
            height: 50px !important;

            // &:nth-child(odd) {
            // background-color: rgb(255, 255, 255);
            // }

            // &:nth-child(even) {
            //   background-color: #e9e9e9;
            // }
          }

          td {
            &.mat-cell {
              border-right: rgba(0, 0, 0, 0.12) solid 1px;
              text-align: center;

              // custom columns table

              &.day {
                width: 55px;
                max-width: 55px;

                // background: #d5d3d8;
              }

              &.date {
                width: 120px;
                max-width: 120px;
                // background: #4c5150;
              }

              &.amount {
                width: 200px;
                max-width: 200px;

                // background: #64547b;
              }

              &.daily_interest {
                max-width: 200px;
                // background: #0d0d0d;
              }

              &.daily_rewards {
                width: 200px;
                max-width: 200px;

                // background: #3838b1;
              }

              &.rebuy {
                width: 200px;
                max-width: 200px;

                // background: #d5d3d8;
              }

              &.balance {
                width: 200px;
                max-width: 200px;
                // background: #624392;
              }


              &:last-of-type {
                padding-right: 0px !important;
              }

              &:first-of-type {
                padding-left: 0px !important;
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: $md) {
      cdk-virtual-scroll-viewport {
        height: 100%;

        table,
        mat-table {
          width: 100%;
          min-width: auto !important;

          th {
            width: 0 !important;
            white-space: pre-line !important;

            &.mat-header-cell {
              font-size: 75%;
              text-align: center;
              white-space: nowrap;
              padding: 0;
              border-bottom-width: 1px;
              border-bottom-style: solid;
              border-bottom-color: rgba(0, 0, 0, 0.12);
              font-weight: 500;
            }
          }

          tr {
            width: 0 !important;
            white-space: pre-line !important;

            &.mat-header-row {
              // height: auto;
              height: 30px !important;
            }

            &.mat-row,
            &.mat-footer-row {
              height: 24px !important;
            }

            &.mat-row:nth-child(odd) {
              background-color: rgb(255, 255, 255);
            }

            &.mat-row:nth-child(even) {
              background-color: #e9e9e9;
            }

            td {
              &.mat-cell {
                font-size: 75%;

                padding-left: 0 !important;
                padding-right: 11px !important;
                border-right: none !important;
                text-align: center;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: rgba(0, 0, 0, 0.12);
              }

              &.mat-footer-cell {
                padding: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                font-size: 75%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
