
@import '../../../variables.scss';


$color-hyper: #7c3ec9;

.hide {
  display: none !important;
}

:host {
  display: block;

  &.virtual-custom {
    cdk-virtual-scroll-viewport {
      height: 96vh;

      table,
      mat-table {
        width: 100%;

        .header {
          background: #ddd;
          padding: 20px;
          z-index: 9999;
        }

        .mat-header-cell {
          background: white;
        }

        th.mat-header-cell {
          text-align: center;
        }

        td.mat-cell {
          border-right: rgba(0, 0, 0, .12) solid 1px;
          text-align: center;
        }

        td.mat-cell:last-of-type,
        th.mat-header-cell:last-of-type {
          padding-right: 0px !important;
        }

        td.mat-cell:first-of-type,
        th.mat-header-cell:first-of-type {
          padding-left: 0px !important;
        }
      }
    }

    @media only screen and (max-width:$md) {
      cdk-virtual-scroll-viewport {
        height: 96vh;

        table,
        mat-table {
          width: 100%;
          min-width: auto !important;

          th {
            width: 0 !important;
            white-space: pre-line !important;

            &.mat-header-cell {
              font-size: 75%;
              text-align: center;
              white-space: nowrap;
              padding: 0;
              border-bottom-width: 1px;
              border-bottom-style: solid;
              border-bottom-color: rgba(0, 0, 0, 0.12);
              font-weight: 500;
            }
          }

          tr {
            width: 0 !important;
            white-space: pre-line !important;

            &.mat-header-row {
              // height: auto;
              height: 30px !important;
            }

            &.mat-row,
            &.mat-footer-row {
              height: 24px !important;
            }

            &.mat-row:nth-child(odd) {
              background-color: rgb(255, 255, 255);
            }

            &.mat-row:nth-child(even) {
              background-color: #e9e9e9;
            }

            td {
              &.mat-cell {
                font-size: 75%;

                padding-left: 0 !important;
                padding-right: 11px !important;
                border-right: none !important;
                text-align: center;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: rgba(0, 0, 0, 0.12);
              }

              &.mat-footer-cell {
                padding: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                font-size: 75%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
