<!-- 
<div  class='header-table' >
    <div>
        <span></span>
    </div>

    <div> </div>

</div> -->

<!-- <div *ngFor="let hd of headerColumns" style="" class="item">
      <span>{{hd.label}}</span>
  </div> -->


<!-- 
<cdk-virtual-scroll-viewport tvsItemSize='50'>
  <table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="col-sm" [style.top]="inverseOfTranslation">>No.</th>
      <td mat-cell *matCellDef="let element" class="col-sm">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef  [style.top]="inverseOfTranslation">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="3">
      <th mat-header-cell *matHeaderCellDef  [style.top]="inverseOfTranslation"> Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name_2 }}</td>
    </ng-container>

    <ng-container matColumnDef="4">
      <th mat-header-cell *matHeaderCellDef  [style.top]="inverseOfTranslation">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name_3 }}</td>
    </ng-container>

    <ng-container matColumnDef="5">
      <th mat-header-cell *matHeaderCellDef  [style.top]="inverseOfTranslation">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name_3 }}</td>
    </ng-container>

    <ng-container matColumnDef="6">
      <th mat-header-cell *matHeaderCellDef  [style.top]="inverseOfTranslation">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name_3 }}</td>
    </ng-container>

    <ng-container matColumnDef="7">
      <th mat-header-cell *matHeaderCellDef  [style.top]="inverseOfTranslation">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name_3 }}</td>
    </ng-container>
  </table>
</cdk-virtual-scroll-viewport> -->


<!-- <cdk-virtual-scroll-viewport  tvsItemSize  class="wrapper mat-elevation-z2">
    <table mat-table [dataSource]="dataSource_">
    <tr mat-header-row *matHeaderRowDef="displayedColumns_; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns_"></tr>
  
      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef> {{'day' | titlecase}} </th>
        <td mat-cell *matCellDef="let val"> {{val.days}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> {{'date' | titlecase}} </th>
        <td mat-cell *matCellDef="let days"> {{days.date | date : "dd/MM/yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> {{ 'amount' | titlecase}}</th>
        <td mat-cell *matCellDef="let val"> {{val.amount | number:'1.2'}}</td>
      </ng-container>

      <ng-container matColumnDef="dailyInterest">
          <th mat-header-cell *matHeaderCellDef>{{'daily_rewards' | titlecase}}</th>
          <td mat-cell *matCellDef="let val"> {{val.dailyInterest | number : '1.2'}} </td>
      </ng-container>

      <ng-container matColumnDef="dailyRewards" >
        <th mat-header-cell *matHeaderCellDef> {{'daily_rewards_running_balance' | titlecase}} </th>
        <td mat-cell *matCellDef="let val"> {{val.dailyRewards | number : '1.2'}} </td>
      </ng-container>

      <ng-container matColumnDef="rebuy">
        <th mat-header-cell *matHeaderCellDef> {{'rebuy' | titlecase}}</th>
        <td mat-cell *matCellDef="let val"   [ngClass]="{'marker': val.rebuy >= 50}"> {{ val.rebuy | number : '1.2'}} </td>
      </ng-container>

      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> {{'membership_rewards_running_balance' | titlecase}}</th>
        <td mat-cell *matCellDef="let val"> {{ val.membershipBalance | number : '1.2-2'}} </td>
      </ng-container>

    </table>
  </cdk-virtual-scroll-viewport>  -->



<div class="container">
    <cdk-virtual-scroll-viewport #scrollViewport itemSize="59" >
      <table>
        <thead>
          <tr>
            <th [style.top]="inverseOfTranslation">Column 1</th>
            <th [style.top]="inverseOfTranslation">Column 2</th>
            <th [style.top]="inverseOfTranslation">Column 2</th>
            <th [style.top]="inverseOfTranslation">Column 2</th>
            <th [style.top]="inverseOfTranslation">Column 2</th>
            <th [style.top]="inverseOfTranslation">Column 1</th>
            <th [style.top]="inverseOfTranslation">Column 2</th>
            <th [style.top]="inverseOfTranslation">Column 2</th>
            <th [style.top]="inverseOfTranslation">Column 2</th>
            <th [style.top]="inverseOfTranslation">Column 2</th>
  
  
          </tr>
        </thead>
        <tbody>
          <tr *cdkVirtualFor="let row of rows">
            <td>{{row.col1}}</td>
            <td>{{row.col2}}</td>
            <td>{{row.col2}}</td>
            <td>{{row.col2}}</td>
            <td>{{row.col2}}</td>
            <td>{{row.col1}}</td>
            <td>{{row.col2}}</td>
            <td>{{row.col2}}</td>
            <td>{{row.col2}}</td>
            <td>{{row.col2}}</td>
          </tr>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
  

<!-- <div class="container-material">
  <cdk-virtual-scroll-viewport tvsItemSize='59'>
    <table mat-table [dataSource]="dataSource">
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="col-sm" [style.top]="inverseOfTranslation">>No.</th>
        <td mat-cell *matCellDef="let element" class="col-sm">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef [style.top]="inverseOfTranslation">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="3">
        <th mat-header-cell *matHeaderCellDef [style.top]="inverseOfTranslation"> Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name_2 }}</td>
      </ng-container>

      <ng-container matColumnDef="4">
        <th mat-header-cell *matHeaderCellDef [style.top]="inverseOfTranslation">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name_3 }}</td>
      </ng-container>

      <ng-container matColumnDef="5">
        <th mat-header-cell *matHeaderCellDef [style.top]="inverseOfTranslation">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name_3 }}</td>
      </ng-container>

      <ng-container matColumnDef="6">
        <th mat-header-cell *matHeaderCellDef [style.top]="inverseOfTranslation">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name_3 }}</td>
      </ng-container>

      <ng-container matColumnDef="7">
        <th mat-header-cell *matHeaderCellDef [style.top]="inverseOfTranslation">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name_3 }}</td>
      </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>
</div> -->